body{
 
font-family:Arial;
text-align:center;
background:#ff6aa0;
color:white;
 
}
 
nav{
 
background:black;
padding:10px;
 
}
 
nav button{
 
background:none;
border:none;
color:white;
margin:10px;
font-size:16px;
cursor:pointer;
 
}
 
button{
 
padding:10px 20px;
margin:10px;
border:none;
background:#ff2f7a;
color:white;
cursor:pointer;
 
}
 
.pagina{
 
display:none;
padding:30px;
 
}
 
#inicio{
 
display:block;
 
}
 
.tablero{
 
display:grid;
grid-template-columns:repeat(4,120px);
gap:15px;
justify-content:center;
margin-top:30px;
 
}
 
.carta{
 
width:120px;
height:120px;
background:#ff2f7a;
border-radius:10px;
cursor:pointer;
 
}
 
.carta img{
 
width:100%;
height:100%;
display:none;
border-radius:10px;
 
}
 
.carta.volteada img{
 
display:block;
 
}